In [3]:
17**17
#Output is double of value of 827240261886336764177 because square root can also be in not full numbers

827240261886336764177

In [5]:
print(81 + 'Forty-two')
#TypeError, you cannot so a sum of integer and string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
2 ** 3 / 2 + 8
#Output is double of value of 12.0 because we use the square root

12.0

In [11]:
x = 81
y = 23
formatedString = "{} plus {} equals 104".format(x, y)
formatedString2 = '{} divided by {} equals 3 with a remainder of 12'.format(x, y)
print (formatedString)
print(formatedString2)

81 plus 23 equals 104
81 divided by 23 equals 3 with a remainder of 12

In [13]:
#Yes, dictionaries are mutable

In [60]:
my_dictionary = {
    'aardvark': 'a nocturnal badger-sized burrowing mammal of Africa, with long ears, a tubular snout, and a long extensible tongue, feeding on ants and termites.',
    'aardwolf': 'a black-striped nocturnal African mammal that feeds mainly on termites.',
    'abaca': 'a large herbaceous Asian plant of the banana family, yielding Manila hemp.',
}
reversedDic = dict(reversed(list(my_dictionary.items())))
secondDic = (my_dictionary.get('aardwolf')).split()[::-1]

print(secondDic)

['termites.', 'on', 'mainly', 'feeds', 'that', 'mammal', 'African', 'nocturnal', 'black-striped', 'a']

In [16]:
l = [1, 2, 3.0, 4, 5.5, 5.6, 6, 7, 8.2]
print(sum(l))

42.3

In [38]:
factorial = 15
i=factorial -1;
print("{}! = {}".format(factorial, factorial))
for factorial in range(i):
    print("*{}".format(i))
    i = i-1;

15! = 15
*14
*13
*12
*11
*10
*9
*8
*7
*6
*5
*4
*3
*2
*1

In [40]:
i = 0
for i in range(100):
    if i%3 ==0:
        if i%5 ==0 or i%7==0:
            print(i)

0
15
21
30
42
45
60
63
75
84
90

In [49]:
optimus = 12829 
def prime_check(n):
    for i in range(2, n):
        if n%1 ==0 and n%n == 0:
            return True
    return False
prime_check(optimus)

True

In [65]:
def union_check(listone, listtwo):
    listthree =[]
    for i in listone:
        if i in listtwo:
            listthree.append(i)
    return listthree
list1 = [1, 2, 3, 4, 5.0, 6, 7, 8]
list2 = [3, 4, 5, 8, 9, 10.0, 11, 12]
list3 = union_check(list1, list2)
print(list3)

[3, 4, 5.0, 8]

In [71]:
def unique(listToCheck):
    
    uniqueList = [];
    for i in listToCheck:
        if i not in uniqueList:
            uniqueList.append(i)
    return uniqueList
listus = [1,1,2,3,3,4]
print(unique(listus))

[1, 2, 3, 4]

In [72]:
def calcSAreaCirc(radius):
    area = 3.14*radius**2
    circumference = radius*2 * 3.14
    return [area, circumference]
print(calcSAreaCirc(5))

[78.5, 31.400000000000002]

In [77]:
heelo = "heelo"
halo = "halo"
def stringFun(h, n):
    for s in h:
        if s in n:
            return True
        return False
stringFun(heelo, halo)

True

In [76]:
def prime_check(n):
    for i in range(2, n):
        if n%1 ==0 and n%n == 0:
            return True
    return False

In [88]:
def prime_check(n):
    for i in range(2, n):
        if n%1 ==0 and n%n == 0:
            return True
    return False

def primeAndSmaller(n):
    listSmaller = []
    listPrimes = []
    for j in range(n,0,-1):
        if prime_check(j):
            print(j)
  

primeAndSmaller(27)

27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3

In [115]:
class TwoDMethod:
    def __init__(self, x, y):
        self.x = x
        self.y = y

In [118]:
class TwoDtranslation:
    
    def __init__(self, dx, dy):
        self.dx = dx
        self.dy = dy
    def transform(point):
        point.x = point.x + self.dx  
        point.y = point.y + self.dy

In [119]:
p = TwoDMethod(2,3)
trans = TwoDtranslation(3,4)
trans.transform(p)

TypeError: transform() takes 1 positional argument but 2 were given